body {
    margin: 0;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gameBoard {
    justify-content: center;
    display: grid;
    text-align: center;
    grid-template-rows: 11.5vmin 11.5vmin 11.5vmin 11.5vmin 11.5vmin 11.5vmin;
    grid-template-columns: 11.5vmin 11.5vmin 11.5vmin 11.5vmin 11.5vmin 11.5vmin 11.5vmin;
    padding: 2vmin;
    border: lightblue 2vmin solid;
    background-color: darkblue;
} 

.cell {
    border-radius: 50%;
    padding: 4.5%;
    border: 0.5px solid black;
    background-size: cover;
    background-position: center;
    background-color: white;
    margin: .6vmin;
}

header {
    display: flex;
    justify-content: center;
    font-size: 5vmin;
}

#resetBtn {
    padding: .7vmin 1vmin .7vmin 1vmin;
    border-radius: 5px;
}
#message {
    margin-bottom: 1vmin;
    margin-top: 1vmin;
    font-size: xx-large;
    color: snow;
}
.clear {
    background-image: none;
}
h3 {
    margin: 0;
    font-size: xx-large;
    border: white 2vmin solid;
    border-radius: 50px;
    background-color: white;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }